[2018-08-28 10:58] mikestaub opened #10 "website is down"
this returns an empty response: https://orangojs.com/

[2018-08-28 13:41] roboncode commented on #10
Yeah i just registered it last week and don't have it pointing to anything just yet but will shortly.

[2018-08-28 19:33] roboncode commented on #10
I removed the direct link to it in the readme until it is available.

[2018-08-28 19:33] #10 closed

[2018-08-29 16:48] roboncode commented on #10
The website now resides on https://orango.js.org, it is barebones right now but as I add new docs this will be it's home.

[2018-09-06 20:25] aguilera51284 opened #16 "Express-Featherjs example"
I would like to see how it would be integrated into a framework.

[2018-09-08 16:37] roboncode commented on #16
Sure thing. As I am working on the examples, I will provide an example with Express since that seems to be the most common framework.

[2018-09-12 11:51] dspangenberg opened #19 "Joi couldn't used directly"
[code]
Uncaught TypeError: Cannot read property 'type' of null

[2018-09-12 11:53] dspangenberg opened #20 "ValidationErrors not thrown but saved with document"
Instead of throwing an error the document will saved and includes the error messages:
[code]
...

[2018-09-12 12:01] dspangenberg opened #21 "How to allow an empty value?"
I can't save my document if a field is empty. Have tried some options, without sucess:

`[Joi.string().empty() ` => #19

[code]
firstName: {
  type: 'string.empty',
  optional: true
}
[code]

[2018-09-14 23:40] roboncode commented on #21
Try this...
[code]

[2018-09-14 23:45] roboncode commented on #19
Verified. Thx. I will work on fixing this.

[2018-09-14 23:47] roboncode commented on #20
Is this happening in version 0.6.1? Thx Rob

[2018-09-15 05:17] dspangenberg commented on #20
Yes, with 0.6.1.

[2018-09-26 13:29] roboncode commented on #19
Fixed and pushed to master from commit #26 Below is the test I performed:

[code]

[2018-09-26 13:29] #19 closed

[2018-09-26 13:32] roboncode commented on #21
Download master and see if this works for you. I tested it. There may be changes that are not yet available until the next release that may have resolved this issue.

[code]

[2018-09-26 13:39] roboncode commented on #20
I am working on finding a solution to this one. thx.

[2018-09-27 13:55] roboncode commented on #16
0.7.0 has the start of some examples. If you download or clone the project you can run it using

With an instance of ArangoDB running

[code]

I will continue to work on the examples. Also you can look at the test cases to lean how to use some of the other features of the API while the docs are in development.

[2018-09-27 13:55] #16 closed

[2018-09-27 13:56] roboncode commented on #21
This fix has been released in version 0.7.0

[2018-09-27 13:56] #21 closed

[2018-09-27 13:57] roboncode commented on #20
0.7.0 provides a fix for this issue.

[2018-09-27 13:57] #20 closed

[2018-10-01 17:28] aguilera51284 opened #28 "Relations Example."
I think it would be useful, to know how to make relationships. with/out edges

[2018-10-02 23:46] roboncode commented on #28
https://github.com/roboncode/orango/tree/feature/sets, in the express examples, for GET /posts there is an example on what it is starting to look like...

[code]

This does a nested join within a nested join with a single query call. It loops through the posts, finds the user of each post and then finds the permissions for each user.

The AQL it produces looks like this...

[code]

The result look

[2018-10-16 15:00] redyce opened #35 "Authentication"
Hello, did anyone successfully authenticated using:

``
await orango.connect('discovery', {
      url: 'http://127.0.0.1:8529',
      username: 'root',
      password: 'password'
})
``

I alwasy get: "ArangoError: not authorized to execute this request"

[2018-10-17 10:28] redyce commented on #35
Yes I do.
For some strange reason, using the root user caused the "not authorized" error, I created a specific user for that database and everything is fine now.

BTW, great job with orango, I am testing it at the company I work for :+1:

[2018-10-17 12:46] roboncode commented on #35
Thx! Okay, I will look into it. Rob

[2018-10-18 18:00] roboncode commented on #35
I have a fix, it will be included on my next release here shortly, i had the merge backwards, so it was overriding the params being passed in.

[2018-10-19 12:37] roboncode commented on #35
0.9.4 release has the fix. The example also uses this.

[code]

[2018-10-19 12:37] #35 closed

[2018-10-19 12:38] roboncode commented on #28
The examples under the server controllers directory now has some examples of this feature.

[2018-10-19 12:38] #28 closed

[2018-10-19 13:19] redyce commented on #35
Hello Rob, it works fine now :+1:

[2018-10-29 04:23] aguilera51284 opened #39 "Timestamps - Default in Schema"
I would like that this option is available, so as not to repeat code in the schemes, this as sequelize does.

http://docs.sequelizejs.com/manual/tutorial/models-definition.html#timestamps

[2018-10-29 16:10] aguilera51284 opened #40 "Count method"
i need get all documents in collection, Is there any method to do it?

[2018-10-29 16:14] roboncode commented on #39
Thanks for the input. I can see how this could be useful in some situations. I will consider a solution when I address default properties within the library.

[2018-10-29 17:52] aguilera51284 commented on #40
like sequelize findAndCountAll :+1:
 http://docs.sequelizejs.com/manual/tutorial/models-usage.html#-findandcountall-search-for-multiple-elements-in-the-database-returns-both-data-and-total-count

[2018-10-30 20:36] roboncode commented on #40
You can get all documents using
[code]

You can the number of docs using something like
[code]

Am I to understand that you are wanting a function that returns the results and pagination metadata?

[2018-11-15 18:17] roboncode commented on #39
So upon review and several trials for handling default values, I resolved the best way to handle default values such as a `createdAt` and `updatedAt` would be to do the following when defining your Model.

[code]
I went the Occam's razor route on this one and felt this provides a way to handle unforeseen conditions in the simplest manor.

[2018-11-15 18:17] #39 closed

[2018-11-15 18:18] roboncode commented on #40
Closing issue. I assume the above answered your question.

[2018-11-15 18:18] #40 closed

[2018-11-21 22:33] aguilera51284 opened #44 "Include with params"
how i cant use Orango to be able to do this

https://github.com/feathersjs-ecosystem/feathers-sequelize#paramssequelize

http://docs.sequelizejs.com/manual/tutorial/models-usage.html

this will help to make a feather component, I see that there is a populate function, but is it a model, as it would be with an array of models?

[2018-11-21 23:34] roboncode commented on #44
Is this what you are trying to achieve? where you are performing conditional statement across collections?

[code]

[2018-11-22 03:39] aguilera51284 commented on #44
for example:

[code]
In theory, we would have to add the models to the service. as he does "feathers" with sequelize

[2018-11-22 15:32] RlnmnsRimanslim opened #45 "EdgeSchema with additional Data"
Is it possible to define an EdgeSchema with additional Data besides _from and _to.
As far as i read your code, if i create an EdgeModel the Data is overwritten (just _from and _to is set). Or do i have to set the additional data after the model is saved?

thanks for your help!

[2018-11-22 15:57] aguilera51284 commented on #44
thx for the quickly answer. but, I feel it would be easier for 'populate' to accept an array.  or there is some way to continue chaining a query.?

like this:

[code]
So in a request, you could do this

[code]

[2018-11-22 19:34] aguilera51284 commented on #45
Apparently, the 'EdgeSchema' method extends from 'Schema', so I think it would be like that.

[code]

https://github.com/roboncode/orango/blob/master/lib/EdgeSchema.js

I think the one who knows the most @roboncode  :smile:

[2018-11-22 20:16] roboncode commented on #44
Right, I see what you want to achieve and I understand how it could provide value.

Orango is setup as an ODM sprinkled with ORM. While I have created an simple internal ORM, it does not currently contain mechanics needed to achieve the example you have provided.

As I have thought about the implementation, I think a user would use it like this...

[code]

Then you would be able to perform a query

[2018-11-23 05:39] RlnmnsRimanslim commented on #45
Thx, that would be great!

[2018-11-26 16:07] roboncode commented on #44
In the `develop` branch I have worked out a proof of concept, the API currently looks like this...

[code]

After I get it initially working then I will see if I can flatten the `populate`. I don't think that will be that big of deal. I believe that if I get this working you will be able to perform all CRUD methods in the execQuery function.

In order have this work correctly, I am refactoring the

[2018-11-26 18:47] aguilera51284 commented on #44
why not change 'criteria' for **where** -> sql friendly or **filter** -> aql friendly?

[2018-11-26 19:38] roboncode commented on #44
Makes sense to use `filter` AQL friendly. I can't remember where I got criterial maybe from AQL examples or Mongoose, but filter explains it better.

[2018-11-26 19:48] aguilera51284 commented on #44
@roboncode  cool!

[2018-11-28 06:02] aguilera51284 opened #46 "BulkCreate on insert"
how i can insert multiples documents.
like this

[code]

when *bulkCreate* accept a array objects

[2018-11-28 19:03] roboncode commented on #46
Try this...

[code]

If you want to truncate the data, add this to importDocs

[code]

[2018-11-28 19:03] #46 closed

[2018-11-29 18:04] roboncode commented on #44
@aguilera51284 I have been playing around with this concept. I had setup the `hasMany' and `belongsTo' in the Model and tested it. That worked fine but is limiting in some ways.

If instead i make it more freeform like so..

[code]

It allows a user to construct full queries in a JSON structure without any limitations. The result of the above creates following the AQL

[code]

Thoughts, opinions?

[2018-12-02 03:40] aguilera51284 commented on #44
first .... amazing jobs 🎉🎉 🎉  @roboncode !!!!, i like the idea from json, its more flexible and it can be extended to better usability, my question would only be, if it is possible to handle the result of that query with the models. or they would come as is the query. I mention it for the fact of taking advantage of the ORM

thx

[2018-12-02 04:18] roboncode commented on #44
Thx! And yes I am working on having the result return as models or objects. The JSON will take full advantage of models on both the query and results. Rob

[2018-12-02 05:53] aguilera51284 commented on #44
there is something in sequelize to disable the parse json with models, in his documentation commented that this is faster. would it have any advantage to implement in orango?

http://docs.sequelizejs.com/manual/tutorial/models-usage.html#raw-queries

[2018-12-02 08:25] aguilera51284 opened #47 "Update collection"
when i try to update document i have a error
[code]
`error: Unhandled Rejection at: Promise`

How does update work?
I have to create a new Model `new Model().update()` ?

[2018-12-02 17:13] aguilera51284 commented on #47
ok, I just saw the error, you can not update a single field, you need all of them. to be able to update, otherwise you can not. besides that it does not throw the error of the fields.

how can you differentiate from the put and patch method?

[2018-12-02 17:41] aguilera51284 commented on #47
is there any way to avoid some fields? i try to set {strict: false} in this [line
](https://github.com/roboncode/orango/blob/master/lib/Model.js#L60) but it still does not work

[2018-12-03 04:37] roboncode commented on #47
`strict` if false by default but you should only need to pass the fields you need. Take this example...

[code]

And I have a record like so...

[code]

To update...

[code]

[code]

[2018-12-04 16:32] aguilera51284 commented on #47
You can check, if this works with Joi

[2018-12-04 22:18] aguilera51284 opened #48 "Populate Edge"
I'm trying to do this
[code]

the AQL return this

[code]

what is the correct way to do it?, there is a weird string there

[2018-12-10 05:51] roboncode commented on #44
I am hoping this next iteration will be return raw query results by default and only if you call one of the return methods will it need to iterate through the results

I have created a page that I am updating to list the upcoming changes

https://github.com/roboncode/orango/wiki/Orango-NEXT

[2018-12-11 16:48] aguilera51284 commented on #44
🎉🎉🎉🎉 niceee!!!!!

[2018-12-13 10:59] iraycd opened #50 "Connecting to Multiple Databases"
[code]
is blocking me to connect with multiple databases.
I wish there was support for connecting or using multiple databases.

With plain ArangoJS. I do something like this.
[code]

My use case is something similar to this:
https://github.com/EasyERP/EasyERP_open_source/blob/master/server.js

How do I achieve it?

-- PS
Thank you for making orango. I loved it.

[2018-12-14 09:42] iraycd commented on #50
[code]
This is a snippet which I have written.
But, I had to write `await db.connect(dbName)` to connect it, if you notice.
Is the following method any good?

[code]

[2018-12-14 15:46] roboncode commented on #50
Thx. Yes you should be able to connect to multiple databases. To connect to multiple databases you should be able to use the following syntax. I use this in the unit tests...`test/index.js`

[code]

This creates a unique instance of each db connection and they should work independently from each other.

[2018-12-14 15:49] roboncode commented on #50
I should also point out that with this approach models need to be registered / referenced with the appropriate instance...

[code]

[2018-12-14 17:16] iraycd commented on #50
It’s based on purpose. I think my approach is better for this use case, as be your
[api/_draft.md](https://github.com/roboncode/orango/blob/master/docs/api/__draft.md)

Please refer: https://github.com/roboncode/orango/pull/51 on how I am managing the models.js

[2018-12-14 19:58] iraycd commented on #50
BTW, when I tried `await orango.get('sample1').connect()` is always goes to the `_system`

[code]

I guess the above is approach is wrong, as we might have various authentication for databases.
It's necessary that we mentions DB Name in connect too.

[2018-12-17 20:04] #50 closed

[2018-12-18 10:15] iraycd commented on #45
@roboncode Can you manage the todo list in https://github.com/roboncode/orango/projects

[2018-12-18 19:31] roboncode commented on #45
Yeah, I haven't used that in github before. Thanks for pointing me to it.

[2018-12-19 06:33] iraycd opened #52 "Testing with Jest"
https://www.valentinog.com/blog/testing-api-koa-jest/

Jest for testing instead of Chai/Mocha

[2018-12-19 06:34] iraycd commented on #52
Instead of using
[code]

You can just you `jest`

[2018-12-19 17:41] iraycd commented on #52
See the PR, replaced multiple tests with jest:  https://github.com/roboncode/orango/pull/53

[2018-12-19 22:34] roboncode commented on #52
Nice! Thank you very much. I am going to move the pull request in. There is an error showing up in Travis so not sure why but I will see if I can nail down what is causing that.

[2018-12-19 22:45] roboncode commented on #52
Will you create another pull request for this again. I accidentally merged it into the wrong branch and had to revert it. Thx. Rob

[2018-12-20 03:59] iraycd commented on #52
I have commented many tests, please check my repo and travis errors are due to code coverage.

It’s better if you play with my repo before you merge it.

[2018-12-20 13:19] #52 closed

[2018-12-20 13:33] iraycd commented on #52
@roboncode Have you checked it?

[2018-12-21 18:41] roboncode commented on #48
Orango Next should fix this issue when is released - https://github.com/roboncode/orango/wiki/Orango-NEXT

[2018-12-28 06:56] iraycd commented on #45
@roboncode We have to treat this as a priority. Please add labels to this task.

[2018-12-28 16:36] roboncode commented on #45
I fixed the edge to support additional data. Here are the examples I tested with. It is available in release 1.0.0-alpha-1.1.

[code]

I did not add any additional unit tests as part of this fix. The unit tests are in transition to using Jest so many are failing as a result of this. Also since the next release 1.0.0-alpha-2.0 (`orango@next`) has new unit test because of breaking changes I did not

[2018-12-29 03:50] iraycd commented on #45
‘’’
Comment.link({_to: 'tweet/sometweet', _from: 'user/userx', message: 'first comment', _key: 'comment1' })

Comment.link({_to: 'comment/comment1', _from: 'user/userx', message: 'nested comment', _key: 'comment2' })

‘’’

This would be a better use case for

[2018-12-29 11:41] roboncode commented on #45
@iraycd Thx for the comment and illustration. I just learned something I hadn't considered with Edge Collections. To replicate what you have provided above in Arango, this is what I have...

![image](https://user-images.githubusercontent.com/820723/50537690-584fe200-0b20-11e9-8ded-0c3036496e69.png)

And the records would look like this in the `comments` collection...

![image](https://user-images.

[2018-12-30 06:36] iraycd commented on #45
That’s great.
Loved the approach.

But it won’t be backward compatible if Edge is being removed. That won’t  be a problem, as there are not many orango developers.

[2018-12-30 13:22] iraycd opened #57 "ORM / ODM / OGM"
Object-graph mapping.
I don't know where this belongs, but Orango is a combination of ORM, ODM & OGM.
It's also ORM once it's supports Transactions: https://docs.arangodb.com/3.4/Manual/Transactions/

ORM, OGM and ODM.

ArangoDB as a specialized database for key/values, documents or graphs and even mix up those data models in one query.

ODGM??

[2018-12-30 15:33] roboncode commented on #57
I will have to think about that one. Not sure what the right answer is.

[2018-12-30 16:08] roboncode commented on #45
Right. I am not concerned with backwards compatibility (yet) - since it is alpha. Things change, especially as people start to use it and I discover ways that others are using it that I had not considered because it isn't part of my workflow. After this next release (Alpha 2) I feel like the API will be in a good and stable state. Feedback is always helpful. I have already started migrating to Alp

[2018-12-30 20:41] iraycd opened #58 "Migration"
Propagating changes to your models (adding a field, modification of the a model, etc.) into database schema.

[2018-12-31 04:46] mihazs commented on #57
I suggest to be like the arangodb are defined, multi-model, so:
Object Multi-model Mapping
OMMM
O3M
OMM

Something like this, I guess....

[2019-01-01 04:41] roboncode commented on #47
@aguilera51284 - Please see if this issue if resolved in by installing `orango@next`. Examples can be found for orango next in the `next` branch

[code]

[2019-01-01 04:55] roboncode commented on #57
In the end its still a ODM (Object Data Modeler)

[2019-01-01 04:55] #57 closed

[2019-01-01 04:58] roboncode commented on #47
@aguilera51284 - Please see if this issue if resolved in by installing orango@next. Examples can be found for orango next in the next branch

npm i orango@next
The API has undergone many breaking changes so be sure to review examples - https://github.com/roboncode/orango/tree/next/examples

[2019-01-01 05:01] roboncode commented on #45
This issue is being marked as resolved. Also it works in  orango@next with the aforementioned changes. Examples can be found for orango next in the next branch

[code]

The API has undergone many breaking changes so be sure to review examples - https://github.com/roboncode/orango/tree/next/examples

[2019-01-01 05:01] #45 closed

[2019-01-01 05:03] roboncode commented on #44
Please review orango@next with the aforementioned changes. Examples can be found for orango next in the next branch

[code]

The API has undergone many breaking changes so be sure to review examples - https://github.com/roboncode/orango/tree/next/examples

[2019-01-01 11:19] iraycd commented on #57
For SEO purpose we have to include ORM and OGM.

[2019-01-13 07:02] iraycd commented on #44
[code]

Will it be there in orango@next?

[2019-01-13 07:17] iraycd commented on #44
Similarly with edges.

[code]

[2019-01-14 02:56] roboncode commented on #44
Its not planned for `orango@next`. Since AQL allows multiple operations in a single query, I wonder how beneficial this would be. For example in Juggle, `user.posts.create()` would be execute a separate query. I am all up for continuing the discussion. I don't have an definitive answer and would welcome feedback on how / why this would be helpful to have.

[2019-01-20 08:26] juicycleff opened #60 "Code completion"
I was thinking of transforming the lib to Typescript if it is fine, firvtype safety and auto completion. I will help developers know what already exist in the library and can solve documentation issues by a half. Is this fine?

[2019-01-20 08:46] iraycd commented on #60
I and @roboncode am with you on using Typescript.

https://github.com/roboncode/orango/tree/next
This is an active branch which we @roboncode is working on. It's changing every day. I think it would be stable soon.

[2019-01-23 03:55] roboncode commented on #60
It would be premature to convert it to Typescript at this point.

[2019-01-23 03:55] #60 closed

[2019-02-07 20:31] iraycd opened #61 "TypeError: Cannot read property 'isJoi' of null"
[code]

**Version**: 1.0.0-alpha-2.0.14

**Code**
[code]

[2019-02-10 04:18] roboncode commented on #61
Fixed in release v1.0.0-alpha-2.1

[2019-02-10 04:18] #61 closed

[2019-02-10 04:21] roboncode commented on #48
Please refer to the new API in release v1.0.0-alpha-2.1.

[2019-02-10 04:21] #48 closed

[2019-02-10 04:22] roboncode commented on #47
Orango@next has been released as release v1.0.0-alpha-2.1

[2019-02-10 04:22] #47 closed

[2019-02-10 04:22] roboncode commented on #44
Closing issue as release v1.0.0-alpha-2.1 has now been released

[2019-02-10 04:22] #44 closed

[2019-02-10 04:25] roboncode commented on #58
Migrations will not be included as part of this project. There will be a separate project `Orango CLI` that will contain features like this in the future.

[2019-02-10 04:25] #58 closed

[2019-02-10 08:13] iraycd opened #62 "Error while using unlink"
**Version:** 1.0.0-alpha-2.1
**Node:** node:10.15.1-alpine
**Arango:** arangodb:3.4.1

**Code:**
[code]

**Error:**
[code]

[2019-02-11 16:02] roboncode opened #63 "Arrays in schema are removing values on validation"
This does not work...

[code]

This does work...
[code]

[2019-02-15 03:01] kycheng801 opened #64 "Cannot connect to ArangoDB when root password is required"
**Version:** 1.0.0-alpha-2.1
**Arango:** arangodb:3.4.2

**Code:**

[code]

**Expected:** A new database called `config.db.name` is created successfully.

**Actually:**

[code]

After tracing the source code, I found the problem should be here:

<img width="537" alt="2019-02-15 10 50 18" src="https://user-images.githubusercontent.com/6451053/52831536-f2d7a500-310f-11e9-9cfb-9f0ef3d56e7b.png">

If

[2019-02-16 19:50] roboncode commented on #64
Ty. Looking into it.

[2019-02-22 12:20] b-fett opened #65 "ValidationError: "value" must be a string"
[code]

| orango | 1.0.0-alpha-2.0.14 |
|--------|--------------------|

[2019-02-24 09:31] roboncode commented on #65
The word `type` is a reserved word. To use this `type` in your schema, you will need to define it as follows

[code]

[2019-02-24 15:50] iraycd opened #66 "overriding toJSON and including static isn't supports while using extends orango.Schema"
[code]
Both, toJSON() and static isn't working.

[2019-02-25 12:10] b-fett commented on #65
Thanks for explaining. Closed.

[2019-02-25 12:10] #65 closed

[2019-02-26 05:06] roboncode commented on #64
Please review at https://github.com/roboncode/orango/tree/bugfix/64, I believe this will fix this issue. I have refactored the connection functionality in orango and this fix should address the bug you were seeing.

[2019-02-26 19:44] roboncode commented on #64
This issue has been fixed with the release of v1.0.0-alpha-2.2

[2019-02-26 19:45] roboncode commented on #63
This issue has been fixed in release v1.0.0-alpha-2.2

[2019-02-26 19:45] #63 closed

[2019-03-05 04:48] #64 closed

[2019-03-09 10:44] iraycd opened #68 "UnhandledPromiseRejectionWarning: ValidationError"
[code]

[code]

[code]

It occurs both in create as well as update.

[2019-03-10 03:20] roboncode commented on #68
This is working as designed. Here is the explanation.

The property `required` accepts three value:
* `true`: required on both create and update
* `"insert"`: required only on insert or save
* `"update"`: required only on update

See snippet https://github.com/roboncode/orango/blob/master/examples/snippets/required.js

If you pass in Model.create({}) with and empty object, it will throw an error(s

[2019-03-10 12:07] iraycd commented on #68
I can't catch them as there are `UnhandledPromiseRejectionWarning`.

[2019-03-10 15:06] roboncode commented on #68
Use need a try / catch in order to handle the error.

[code]

[2019-03-11 01:54] roboncode commented on #66
I have been thinking about this one and how it should play out. The schema should define the document structure. The model implement functionality for the document. I have worked out a solution that achieves both. The example below is optional and could have been done by setting properties and functions on prototype or directly on the class after the model was registered. This is just something th

[2019-03-11 04:31] #66 closed

[2019-03-11 06:25] roboncode commented on #66
release v1.0.0-alpha-2.5

[2019-04-05 17:37] arnaudpoullet opened #69 "TypeError: Cannot set property host of #<IncomingMessage> which has only a getter"
I installed ArangoDB and Orango npm package on a clean Total.js install and after following the '[getting started - full usage example](https://orango.js.org/guide/getting-started.html#overview)' to the letter and starting the node app I got the following error:

Is this an actual error ? Or am I missing something (is nodejs 11.9 not supported?) that may be added to the getting started guide.

Aft

[2019-04-07 14:54] arnaudpoullet opened #70 "Cannot read property 'queryToAQL' of undefined"
When I was trying to adapt [koa2-rest-api-boilerplate](https://github.com/HanHyeoksu/koa2-rest-api-boilerplate) to use orango instead of mongoose I got this error:
`Cannot read property 'queryToAQL' of undefined`
from
[code]
 ArangoDB and Orango have successfully started at this point. The error is thrown when I call this method from my userService:

[code]

If I replace
`await user.save();`
with

[2019-04-08 00:26] armenr commented on #70
I get the same exact behavior. I have been fighting with this error for the last 12 hours. I switched it up, and tried a different way, from the DOCS in the repo, and got an even weirder error:

[code]
    const db = orango.get('dev1');

    db.events.once(EVENTS.CONNECTED, (conn) => {
      console.log('🥑  Connected to ArangoDB:', conn.url + '/' + conn.name);
    });

    db.events.once(EVENTS.RE

[2019-04-08 14:45] roboncode commented on #70
Thanks for the kind words. I just got back from vacation. I will look into this and see what is up. Rob

[2019-04-10 00:42] roboncode commented on #70
@armenr Here is a working version of your code example...

When you use `orango.get()`, you are creating a instance (singleton) of `orango`. This is so you can actually connect to multiple instances at the same time. So when you register your models, you also have to register it with that instance

[code]

Secondly, when you are registering a `model`, you will see that "currently" you need to pass

[2019-04-10 00:59] roboncode commented on #70
@arnaudpoullet - Do you have a repo I can checkout where you are making this change so I can test it? If I had a better context I am sure I can see where the issue is. Thx Rob

[2019-04-10 01:14] roboncode commented on #69
The modification you made is to the ArangoJS library. It looks like host may be a getter? dunno.

[2019-04-10 02:00] roboncode commented on #70
Actually, I just created a Total.js project and I am able to see that error. I will see if it is something to do with ArangoJS / Total.js / Orango

[2019-04-10 02:02] roboncode commented on #69
I stubbed a Total.js and am able to see the error. I will see if it is ArangoJS / Orango / TotalJS.

[2019-04-10 11:38] roboncode commented on #69
There is an issue in ArangoJS. The proper fix is to assign it to `task.host`. I have made a PR - https://github.com/arangodb/arangojs/pull/604

[2019-04-10 13:12] arnaudpoullet commented on #70
Hi,
Thank you so much for your reactivity. I think I have the same issue as @armenr, I instantiated a db but used 'orango'. It makes sense that it didn't work, that's what happens when we follow the DOCS blindly I suppose. :) Maybe this situation could throw an error that would make it clear we're supposed to use the db instance in case others make the same mistake ? Be it by distraction or misund

[2019-04-10 13:33] armenr commented on #70
@roboncode - YOU ARE THE MAN! Thank you for clarifying that and being so meticulous in responsiveness and helpfulness.

Seriously dude, you're awesome. My team and our project thank you for your help, as well as for this badass library.

[2019-04-10 14:35] armenr commented on #70
So, new question, and please bear with me as I acknowledge this is a question only a n00b would ask, buuuuuttttttt, say I have the following setup

in my project, I have /src/connectors/
in connectors, I have a file lovingly named: `connectArango.js`

The contents of the file are:
[code]

In my server.js @ the project root, I have this:
[code]

In the Router file:
[code]

So, I guess what I'm aski

[2019-04-10 16:14] roboncode commented on #69
Sure, thx. I am going to close it then. I have used Total.js in the past for some projects and it is a nice framework, but not well adopted.

[2019-04-10 16:14] #69 closed

[2019-04-10 23:05] roboncode commented on #70
@armenr Good questions. Hopefully I answer them. If I don't then let me know. First, you can always get the same instance using `const db = orango.get(db:String)`, i.e.
[code]
If you want to do something a little more sophisticated such as DI (Dependency Inject) then look at the https://github.com/orangojs/orango-examples. There I pass in the orango instance into each function that needs to use it

[2019-04-11 05:32] armenr commented on #70
^^ Dude. You're the man. At this point, I feel as though I might be abusing this thread as an "Issue."

You've answered my questions. I am most grateful. I completely understand how to use all of this, at this point.

Is there a slack, or a spectrum community, or a gitter for Orango? My team and I would be very active in there, and I think it might help for communication between us, as well as com

[2019-04-11 11:30] roboncode commented on #70
thx. Discord Community - https://discordapp.com/invite/7fHadJj

[2019-04-11 11:31] #70 closed

[2019-05-01 14:07] armenr opened #71 "findOne is not a function, and not returning a FALSE when no records found"
Hey there - am I mistaken to believe that there's a "findOne" method on Models?

It's used as an example in the docs, but doesn't appear to actually work or exist (checked the master branch of the codebase too).

stuff.js:
[code]

And in the logs:
[code]

An additional question: If we make a query call, and it returns nothing, how can we check that?

I have awaits that return undefined, rather tha

[2019-05-01 14:12] armenr commented on #71
Additionally, this query doesn't appear to be valid either?

```let query = await User.find({ username: username, password: password });```

I get: `There was a booboo in User.findByUnamePass TypeError: query.toAQL is not a function`

[2019-05-01 14:15] armenr commented on #71
Additional question:

Is there a difference between
[code]

and
[code]

[2019-05-01 14:37] armenr commented on #71
And finally, I have a question about errors, throwing errors, and detecting/logging/surfacing mistakes:

My colleague had coded this up:
[code]

All the while, it was being called, it never once let us know that the query might be malformed, that the AQL fails, or that it's returning undefined.

In general, how do we handle this? What's the convention with Orango? :) I'm happy to help brainstorm.

[2019-05-01 15:41] roboncode commented on #71
Good questions, I will try to answer them the best I can.

1) findOne() should not be listed in the docs, that was the old way. the appropriate way is to do.

[code]

I will need to update the docs correct that.

2) diff between using return({one:true}) will return the result as an object or null. Without that it will return the results as an array[].

3) If you are finding a place where you know

[2019-05-07 12:42] AveryanovS opened #72 "Incorrect code in readme"
`const { SCHEMA } = const.consts`

Probably was meant
`const { SCHEMA } = orango.consts` ?

[2019-05-07 12:46] iraycd commented on #72
It's `const { SCHEMA } = orango.consts`

[2019-05-09 15:03] roboncode commented on #72
Yes there was a typo, I have updated the readme. Thx! Rob

[2019-05-09 15:03] #72 closed

[2019-05-09 15:05] roboncode commented on #71
Closing due to no activity.

[2019-05-09 15:05] #71 closed

[2019-05-10 15:19] armenr opened #73 "Schema Type Bug with Arrays & Nested Types Inside Array"
Greetings - I'm working with a schema, and at one of the document properties, I'd like to have an array, in which are nested n (or zero) number of objects.

How do we get this to work? Currently, I am getting the following error:

[code]

My Schema:
[code]

This might be a headslappingly stupid question, but how do I get this to work? :)

[2019-05-10 16:18] armenr commented on #73
And while we're at it, could ask this as well?

Does the ODM provide any sort of inbuilt functionality that says: "Go look up a user by this e-mail address/username, and IF they exist, do not allow another document to be written with these same properties", or is that a thing we should just code up ourselves?

[2019-05-13 04:28] roboncode commented on #73
For question #1 - I am guessing here, but I believe you may be trying to do this....
images: [{}]

Let me know if that fixes your issue.

[2019-05-13 08:05] armenr commented on #73
Testing now. Will update. Thank you!

[2019-05-13 08:21] armenr commented on #73
Doesn't seem to work. Can't tell if it's an issue with Tang, or if it's me doing something wrong. See below:

[code]

[code]

[2019-05-13 11:49] armenr commented on #73
See this snippet, where I attempt to use Joi instead

[code]

[code]

[2019-05-13 12:09] armenr commented on #73
Some more peculiarities when I log the schema that's being returned from model:

[code]

When I try `images: Any`, I get:

[code]
When I try `    images: { type: Array }` I get:

[code]

[2019-05-14 15:42] iraycd commented on #68
That's not working.

[2019-05-15 00:59] roboncode commented on #73
Thx for the thorough example, I am looking into it.

[2019-05-15 08:03] armenr commented on #73
Sure thing! Appreciate your help :)

[2019-05-18 12:21] armenr opened #74 "Schema Indexing Issue"
Hey there - friendly neighborhood annoying dude who's loving your ODM and perpetually blowing up your Issues section.

Working on a model, and I want to add an index of type HASH to a given field, and then ensure uniqueness on that index. This applies to SkipList indices as well where this same kind of uniqueness enforcement might be useful. In any case, here's the issue:

[code]

I've also tried:

[2019-05-19 13:55] armenr commented on #74
I can confirm that the standard ArangoJS driver works for this. I went snooping around the OrangoJS codebase, and I think the problem is as simple as the case being that in the createIndex() call that gets passed into the ArangoJS driver, Orango isn't passing the options object.

I thiiiiiink, this little function right here might be the culprit: https://github.com/roboncode/orango/blob/654c0dc3b6

[2019-05-19 17:53] armenr commented on #74
Figured out a bunch of stuff.

First, we just have to append "opts" to the index, like in the code snippet, below. So, that's my bad.

Persistent Indices fail only because of a very simple typo on line 461:

```          promises.push(collection.createPersitentIndex(item.fields, item.opts))```

I will fork with a proposal to update documentation, and also to correct the spelling of 'createPersiten

[2019-05-20 05:30] iraycd commented on #74
unique together

[2019-05-20 06:39] armenr commented on #74
^^ The above code works, but you'll have to specify which Index TYPE you want to use (Hash, etc).

 I can verify as I am using the same exact setup. BUT, be certain that this is what you want.

In this case, you're saying: I want you to generate a hash from the username + email values, and ensure that the combination of them is always unique. That's very different from saying - do not allow duplic

[2019-05-20 07:26] iraycd commented on #74
I mean don't want to allow only if combination of the both is same.

[2019-05-20 20:53] armenr commented on #74
In that case, yes. Your first example was correct, with the following correction:

[code]

[2019-06-04 05:59] aguilera51284 opened #77 "where is the function id()"
before there was a function that removed `_key` and` _id` and replaced it with id

[2019-06-05 14:02] armenr commented on #73
@roboncode - any hints or tips? I've made some other small fixes and created two PR's, but this problem is a bit prohibitive for us :)

If you're tied up, we'll try to investigate or fix it, but any hints or help or tips would be appreciated if you're unable to investigate/bugfix.

[2019-06-28 11:30] altras opened #78 "TypeError: joi.requiredKeys is not a function"
Hello!

I have the following schema:

[code]

and I want to do

[code]

but I receive

[code]

which is very odd because I don't use Joi at all 🤔 Any points how to fix this are welcomed :bow:

[2019-06-29 13:04] roboncode commented on #78
Orango uses Joi for the validation. You are using a reserved word `type` in your schema. If you would like to use this word, you need to change it to `type: {type: String},`

[2019-06-29 13:04] #78 closed

[2019-06-29 14:21] roboncode commented on #77
They don't exist. I tried to set it up to no longer manipulate the results. Here is an example of the proper way to to this now...

[code]

[2019-06-29 14:21] #77 closed

[2019-07-02 23:34] roboncode commented on #68
@iraycd I am able to reproduce the issue and have a fix. I am just working on cleanup and then it should be good to go!

[2019-07-03 00:57] roboncode commented on #68
Should be fixed in 1.0.0-beta-1.1
[code]

[2019-07-03 09:45] roboncode opened #80 "Orango 2.0 -- RFC"
This is a living document and may change based on comments provided by the community. This is an RFC for upcoming changes to Orango. Since the API is quite different from the current version or Orango, this will most likely be a Orango 2.0.

**Background**

Prior to using ArangoDb, I used MongoDb and Mongoose when developing in Node.JS. I wanted something similar to what I was used to with Mongoos

[2019-07-03 13:50] roboncode commented on #80
I scaffolded out a simple working example of some of the functionality and a couple of unit test...

[code]

[2019-07-03 19:27] iraycd commented on #68
Works like a 🍰. Thank you @roboncode

[2019-07-03 19:27] #68 closed

[2019-07-04 12:34] roboncode commented on #80
Experimenting with a new AQL query builder. This will allow for guided auto-completion when building a query. Here is an early example of a graph query and AQL output...

[code]

[2019-07-04 22:35] roboncode commented on #73
This has been fixed with the new release of v1.0.0-beta-1.1

[2019-07-04 22:51] #73 closed

[2019-07-05 05:56] maku commented on #80
@roboncode I like the AQL query builder approach...

[2019-07-05 08:31] roboncode commented on #80
@maku Thanks, I am going to break out certain parts into their own repos to allow for:
1) Use in other libraries or as a standalone in order to use in Web clients, Foxx, etc
2) Better maintenance and history of changes for each part.
The library for AQL Query Builder can be found here as I am working on it...
https://github.com/orangojs/aqbjs

[2019-07-05 12:09] maku commented on #80
@roboncode Sounds great.
I did a project with ArangoDB a while ago where I coded an abstraction to use ArangoDb myself. When I do a project in the future I will give the new stuff (Orango 2.0) a try (when it is already available)

[2019-07-05 19:49] roboncode commented on #80
Orango 1.0 is fully capable of handling most needs. So don't wait for Orango 2.0 before getting into it. :)

[2019-07-28 06:46] aguilera51284 opened #82 "audit fail"
please upgrade lodash in Tang is  outdated
![image](https://user-images.githubusercontent.com/7749319/62003205-498ed500-b0d9-11e9-9495-9db053b4223f.png)

Thx  👋

[2019-08-06 07:43] lizhuomeng71 opened #83 "find_outbound_vertex, can not find id of undefined."
For this usecase

  let query = Comment.find()
    .outbound('user', 'eddie', {})
    .return(orango.return.distinct())

Get Error Message
   can not find id of undefined.

Problem is at
roboncode/orango/blob/master/lib/helpers/queryToAQL.js
Line 120,
     AQB.expr(
        `${query.vertex.direction} '${ModelCls.collectionName}/${
          query.outbound.id
        }' ${col}`
      )

Should Be

[2019-08-09 09:27] lizhuomeng71 opened #84 "Can not have edge link have the same model for _from and _to"
Have a model like this

schema.type('edge', {
  from: 'Task',
  to: ['Task']
})

Then
when using
		let plan = Plan.link(
			{ Task: "2320844", Task: "2273357" }
		)

Get Error message, Error: Missing required "_to" for link

the reason being, Object can only have one unique property.

Noted:

This feature is necessary, for example, a Task is an parent of a Task, or a Task is following another Task

[2019-08-09 16:01] aguilera51284 commented on #84
Please check it.
This is the closest to a real example

https://github.com/roboncode/orango/blob/master/examples/snippets/link.js

[2019-08-10 07:44] lizhuomeng71 commented on #84
Hi aguilera51284,

Thanks, I think I understand the example case, the issue I have is when my edge have the same model for _from and _to.

which could be a meaningful use case, such as Person Know Person, or Task is a Parent of Task

The problem is for this case, I passed the _from and _to in a form of object, as an example
let plan = Plan.link(
  { Task: "2320844", Task: "2273357" }
)
then this o

[2019-08-29 21:05] itsezc commented on #80
@roboncode would be interested to see Seeding and perhaps GraphQL compatibility, if thats under any consideration?

[2019-09-05 07:17] xgenvn opened #85 "Update to arangojs 6.11.x for transaction"
Hi @roboncode ,

Currently, with ArangoDB 3.5 release we can make transaction management through multiple collections. I'm trying to use Orango and partially with raw queries by access db instance inside Connection.

Is there any plan to upgrade to latest arangojs version?

Thanks

[2019-09-06 01:04] roboncode commented on #85
Yeah I will work on upgrading it. Rob

On Thu, Sep 5, 2019 at 1:17 AM Anh Tu Nguyen <notifications@github.com>
wrote:

[2019-09-06 02:24] xgenvn commented on #85
@roboncode I changed the title while I thought perhaps I was wrong about the version. But yeah, we need to update Orango to use latest package for Streaming transaction API support.
Thanks for awesome work.

[2019-09-06 15:24] maku commented on #80
@roboncode Do you work on Orango 2.0? - if yes, I could imagine to help out in certain areas

[2019-09-15 03:13] salomaosnff opened #86 "TypeScript Definitions"
When will definitions for typescript be released?

[2020-01-16 15:56] nirgn975 commented on #80
@roboncode Would love to help on Orango 2.0
Really hope to see this coming to live!

[2020-01-16 16:32] maku commented on #80
@nirgn975 Seems not much activity in this project...

[2020-02-21 19:21] cardimajs opened #89 "is this project still alive?"
Hi,
I'm starting with ArangoDB, and I would like to know if this project is still active.

ready to be used in production?

[2020-03-02 22:14] aguilera51284 commented on #89
not sure, but i still use this package... :(

[2020-04-28 15:45] aguilera51284 commented on #89
anyone else use this repo?

[2020-05-08 07:29] itsezc commented on #89
@aguilera51284 Not his project seems to be inactive and unmaintained, but there are two other libraries that look promising:

https://github.com/AEB-labs/cruddl/
https://github.com/RienNeVaPlus/type-arango

My company uses Cruddl in production

[2020-05-24 17:53] cardimajs commented on #89
@itsezc thank you

[2020-05-30 21:32] iraycd commented on #89
@itsezc I have used it and updated and made a lot of customisation over it.
But, I have a version with transaction. But, I can't support it fulltime. I am looking for alternative. But I didn't find any good alternative for my needs.

@roboncode said he would update this. But it's hard to maintain libraries without many contributors.

[2020-05-30 21:50] itsezc commented on #89
@iraycd I disagree, there are still 3 PRs lacking any sort of feedback, the last commit was over a year ago, and that too was mine for documentation, clearly showing signs of disinterest. People are willing to contribute, someone just has to maintain this project. This project, like with Cruddl is lacking proper documentation, examples and a roadmap.

However, I'm certainly interested in developin

[2020-05-31 04:14] iraycd commented on #89
👍 I am willing to help you help you. I am using Orango in production.

Even @roboncode told me that he was using in Production. I don't know about the present status.

[2020-06-01 16:42] roboncode commented on #89
I have neglected this project for about a year now. I marked it in the
readme as inactive. It is true that I am using it in a production project.
I am also using a Go version (which I have spent most of my time on this
past year and is not publicly available) in production as well and between
the two I am going to revisit the project and start working on a TypeScript
version that will address many

[2020-06-01 17:57] itsezc commented on #89
Glad to hear that you're coming back, if this is the case then things you should be looking into are:

- Documentation - Its very lacking, operations such as delete aren't well documented
- Features - you mentioned TypeScript, thats a great start but Arango now comes with ArangoSearch, and alternatives such as Cruddl makes use of edges; all these can be used to introduce a great many features.
- A

[2020-06-02 18:29] roboncode commented on #89
I have not been impressed with ArangoSearch. It is a weak alternative to
ElasticSearch. I need to review the alternative projects out there and see
if there is anything that they do not currently provide. No point in
reinventing the wheel. I know that since I created Orango there have been
some libraries that have emerged and may provide a complete solution, dunno
yet. If there is anything you fin

[2020-07-27 17:06] Anuovec commented on #89
@roboncode Did you think about adding more maintainers to this project?

[2020-09-15 04:15] armenr commented on #89
Out of curiosity - what alternatives are out there, these days?

[2020-09-16 05:41] iraycd commented on #89
@armenr This is a good for Node.js but there is one in Python.

Waiting for @roboncode to start a new one.

I have developed an application for migration which is in alpha. But works, Readme is not clear.

https://www.npmjs.com/package/migrado

It’s not dependent on Orango